.heart:before,.heart::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 100px;
    background-color: red;
    border-radius: 50px 50px 0 0;
    margin:200px;

}
.heart:before{
    left:100px;
    transform:rotate(45deg);
}
.heart:after{
    left:70px;
    transform:rotate(-45deg);
}