.box {
    width: 140px;
    height: 390px;
    border: 1px solid #000;
    background-color: grey;
    margin: 100px 100px 100ps 200px;
    

}
.box1{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: red;
    margin: 20px;
}
.box2{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: rgb(238, 209, 18);
    margin: 20px;
}
.box3{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 100px;
    background-color:green ;
    margin: 20px;

}